
@{
    ViewData["Title"] = "GetAll";
    Layout = "MainLayout";
}



<h2 class="toast-header">GetAll</h2>

<table class="table table-hover m-2">
    <thead>
        <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th></th>
        </tr>

    </thead>

    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.Id</td>
                <td>@student.FirstName</td>
                <td>@student.LastName</td>
                <td>
                    <a class="btn btn-outline-primary" asp-action="Update" asp-controller="Students" asp-route-id="@student.Id">Update</a>
                    <a class="btn btn-outline-danger" asp-action="Delete" asp-controller="Students" asp-route-id="@student.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
